.sidenav-container {
  min-height: 100%;
  width: 300px;
  display: flex;
  flex-direction: row;
}

.sidenav {
  width: 250px;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
}

.sidenav mat-toolbar {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: #ddd;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

mat-nav-list a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

mat-nav-list a:hover {
  background-color: #e0e0e0;
  color: #000;
}

mat-nav-list a mat-icon {
  margin-right: 10px;
  color: #666;
  vertical-align: middle;
}

mat-nav-list a span {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}
