  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar><a routerLink="/">Assistência Técnica</a></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/clientes">
        <mat-icon>person</mat-icon>
        <span>Clientes</span>
      </a>
      <a mat-list-item routerLink="/dispositivos">
        <mat-icon>smartphone</mat-icon>
        <span>Dispositivos</span>
      </a>
      <a mat-list-item routerLink="/ordens">
        <mat-icon>build</mat-icon>
        <span>Ordens de Serviço</span>
      </a>
      <a mat-list-item routerLink="/estoque">
        <mat-icon>inventory_2</mat-icon>
        <span>Estoque</span>
      </a>
      <a mat-list-item routerLink="/relatorios">
        <mat-icon>bar_chart</mat-icon>
        <span>Relatórios</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content></mat-sidenav-content>
